@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    font-family: "Poppins", sans-serif;
}
/* .container{
    max-width: 1200px;
    margin: 0 auto;
} */
h1,
h3{
    color: #606d5f;
}
h3{
    font-weight: 750;
    font-size: 2.2rem;
    text-transform: capitalize;
}
p,
li,
a,
button{
    color: #888;
}
p{
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: normal;
    font-style: normal;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}
button{
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    line-height: 3.6rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}

/* Nav Styles */
header{
    padding: 0 20rem;
    width: 100%;
    margin-bottom: 5rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12rem;
}
nav .logo h1{
    font-size: 3rem;
}
nav .menu{
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
}
nav .menu li{
    font-size: 2rem;
    line-height: 3.6rem;
    text-transform: capitalize;
    transition: all 0.2s;   
}
nav .menu li a:hover{
    color: #4b709e;
}

/* Hero Styles */
.hero-section{
    width: 100%;
    height: 100%;
    padding: 0 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20rem;
}
.hero-section .hero-content{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero-section .hero-content h1{
    width: 40rem;
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 4rem;
    text-transform: capitalize;
}
.hero-section .hero-content p{
    width: 45rem;
    margin-bottom: 3rem;
}
.hero-section .hero-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.hero-section .hero-img img{
    box-shadow: black;
    border-radius: 18px;
    width: 100%;
}

/* Product Styles */
.product-section{
    width: 100%;
    height: 100%;
    padding: 0 20rem;
    margin-bottom: 20rem;
}
.product-section h1{
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 6rem;
    text-transform: capitalize;
    text-align: center;
}
.product-section .products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
}
.product-section .products .product-card{
    width: 25rem;
    height: 25rem;
    background-color: #efefefef;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 2rem;
}
.product-section .products .product-card img{
    width: 80%;
    border-radius: 10%;
}
.product-section .products .product-card .buy-btn{
    background-color: white;
    border: 2px solid #efefefef;
    padding: 1rem 2rem;
    border-radius: 1rem;
    line-height: 1rem;
    font-size: 1.5rem;
}

/* Product Styles */
.service-section{
    width: 100%;
    height: 100%;
    padding: 0 20rem;
    margin-bottom: 20rem;
}
.service-section h1{
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 6rem;
    text-transform: capitalize;
    text-align: center;
}
.service-section .services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2.5rem;
}
.service-section .services .service-card h3{
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.service-section .services .service-card > p{
    font-size: 1.8rem;
    line-height: 2rem;
}
.service-section .services .service-card{
    flex-basis: 20rem;
    text-align: center;
}
.fa-solid{
    font-size: 4rem;
    color: #606d5f;
    margin-bottom: 2rem;
}
/* Footer Styles */
footer{
    margin-top: 5rem;
    font-size: 1rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefefef;
    padding: 10rem 0;
}